@import "reset";

.not-overflow {
  overflow-y: hidden;
}
.overlay {
  position: fixed;
  display: none;
  @include size(100%, 150%);
  position: absolute;
  background-color: $black;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}
.overlay--open {
  display: block;
}
.header {
  @include marginX(10vw);
  height: 80px;
  border-bottom: 2px solid $lightGrayishBlue;
  @include alignCenter();
  justify-content: space-between;
  &__menu {
    @include alignCenter();
    &__icon {
      display: none;
    }
    &__brand {
      font-size: 26px;
      font-weight: 700;
      cursor: pointer;
    }
    &__drawer {
      &__icon {
        display: none;
      }
      &__ul {
        list-style-type: none;
        padding-left: 40px;
        &__li {
          display: inline-block;
          font-size: 0;
          &__a {
            display: inline-block;
            text-align: center;
            color: $darkGrayishBlue;
            text-decoration: none;
            padding: 30px 20px;
            cursor: pointer;
            border-bottom: 2px solid $lightGrayishBlue;
            transition: all 0.3s ease;
            &:hover {
              font-weight: 700;
              border-bottom: 2px solid $orange;
            }
            &::before {
              display: block;
              content: attr(title);
              font-weight: 700;
              height: 0;
              overflow: hidden;
              visibility: hidden;
            }
          }
        }
      }
    }
  }

  &__cart-avt {
    @include alignCenter();
    &__cart {
      position: relative;
      cursor: pointer;
      &__widget {
        position: absolute;
        width: 340px;
        background-color: $white;
        z-index: 5;
        top: 36px;
        right: 0px;
        transform: translateX(40%);
        box-shadow: 0px 16px 36px 2px rgba(0, 0, 0, 0.1);
        border-radius: 16px;
        visibility: hidden;
        transition: all 0.5s ease-in;
        animation: slideOut 0.5s forwards;
        &__header {
          padding: 20px;
          border-bottom: 2px solid $lightGrayishBlue;
          font-weight: 700;
        }
        &__body {
          @include alignCenter();
          justify-content: center;
          min-height: 160px;
          margin-bottom: 10px;
          &__empty {
            display: none;
          }
          &__inner {
            display: grid;
            grid-template-rows: 50px 50px;
            row-gap: 20px;
            width: 300px;
            &__item {
              @include alignCenter();
              justify-content: space-between;
              .item-image {
                width: 50px;
                border-radius: 4px;
              }
              .cart-item-text {
                @include justyfyBetween();
                flex-direction: column;
                color: $darkGrayishBlue;
                height: 90%;
                &__name {
                  font-size: 15px;
                }
                &__price {
                  font-size: 15px;
                  &:nth-of-type(2) {
                    color: $black;
                    font-weight: 700;
                  }
                }
              }
              .delete-item {
                width: 14px;
                cursor: pointer;
              }
            }
            &__btn {
              @extend .btn;
              background-color: $orange;
              color: $white;
              padding: 12px;
              width: 100%;
              transition: all 0.3s ease;
              &:hover {
                opacity: 0.5;
              }
            }
          }
        }
      }
      &::after {
        content: "3";
        @include size(16px, 10px);
        color: hsl(0, 0%, 100%);
        background-color: hsl(26, 100%, 55%);
        position: absolute;
        top: -2px;
        left: 11px;
        @include alignCenter();
        justify-content: center;
        font-size: 9px;
        border-radius: 80px;
      }
      &::before {
        content: "";
        @include size(30px, 100px);
        position: absolute;
      }
      &:hover .header__cart-avt__cart__widget {
        visibility: visible;
        animation: slideIn 0.5s forwards;
      }
    }
    &__avt {
      @extend .btn;
      width: 40px;
      margin-left: 30px;
      border: 2px solid transparent;
      transition: all 0.3s ease;
      &:hover {
        border: 2px solid $orange;
        border-radius: 50%;
      }
    }
  }
}
