@media screen and (min-width: 375px) and (max-width: 1440px) {
  .product {
    @include marginX(0vw);
    grid-template-columns: 10vw;
    margin-bottom: 80px;
    &__image {
      width: 100vw;
      &__large {
        height: 40vh;
        overflow: hidden;
        &__icon {
          display: flex;
        }
        &__img {
          border-radius: 0;
          height: 100%;
          object-fit: cover;
        }
      }
      &__small {
        display: none;
      }
    }
    &__inf {
      @include marginX(5vw);
      &__brand {
        margin-top: 22px;
      }
      &__name {
        font-size: 32px;
      }
      &__price {
        @include alignCenter();
        justify-content: space-between;
        margin-bottom: 16px;
      }

      &__btn {
        flex-direction: column;
        &__quantity {
          margin-right: 0;
          margin-bottom: 30px;
          padding: 12px 20px;
          justify-content: space-between;
        }
      }
    }
  }
}
