$orange: hsl(26, 100%, 55%);
$paleOrange: hsl(25, 100%, 94%);
$veryDarkBlue: hsl(220, 13%, 13%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
@import "header";
@import "header_responsive";

.btn {
  border-radius: 8px;
  cursor: pointer;
}
.hover-opacity {
  transition: opacity 0.3s ease;
}
.hover-opacity:hover {
  opacity: 0.5;
}
.product {
  @include marginX(10vw);
  margin-top: 60px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  &--viewImage {
    display: none;
    position: absolute;
    z-index: 5;
    left: 50%;
    top: -20%;
    transform: translate(-50%, 10%);
    width: 28vw;
    height: 80vh;
    transition: all 0.3s ease;
    animation: appear 0.5s ease-in-out;
    > svg {
      float: right;
      width: 14px;
      height: 15px;
      margin-bottom: 20px;
      cursor: pointer;
      &:hover {
        path {
          fill: $orange;
        }
      }
    }
    .product__image {
      width: 100%;
      row-gap: 4%;
      &__large {
        div {
          display: flex;
          cursor: pointer;
          &:hover svg {
            path {
              stroke: $orange;
            }
          }
        }
        &__previous {
          left: -22px;
        }
        &__next {
          right: -22px;
          img {
            left: 2px;
          }
        }
      }
      &__small {
        justify-content: space-evenly;
        div {
          width: 16%;
          height: 94%;
          border-radius: 7px;
          img {
            border-radius: 5px;
          }
        }
      }
    }
    &--disAppear {
      animation: appear 0.3s forwards;
    }
  }
  .image-modal-open {
    display: block;
  }
  &__image {
    width: 36vw;
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 5%;
    img {
      cursor: pointer;
    }
    &__large {
      position: relative;
      div {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $white;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: none;
        justify-content: center;
        align-items: center;
        img {
          width: 30%;
        }
      }
      &__previous {
        left: 3%;
      }
      &__next {
        right: 3%;
      }
      img {
        width: 100%;
        border-radius: 5%;
      }
    }
    &__small {
      display: flex;
      justify-content: space-between;
      div {
        width: 20%;
        height: 96%;
        border-radius: 18px;
        background-color: $white;
        img {
          width: 100%;
          border-radius: 14px;
          @extend .hover-opacity;
        }
        &:first-child {
          border: 4px solid $orange;
          img {
            opacity: 0.5;
          }
        }
      }
    }
  }
  &__inf {
    width: 36vw;
    &__brand {
      color: hsl(26, 100%, 55%);
      font-weight: 700;
      letter-spacing: 3px;
    }
    &__name {
      font-size: 44px;
      color: hsl(0, 0%, 0%);
      padding: 20px 0px;
    }
    &__desc {
      color: hsl(219, 9%, 45%);
      padding: 20px 0px;
    }
    &__price {
      margin-bottom: 50px;
      &__new {
        color: hsl(0, 0%, 0%);
        font-size: 28px;
        font-weight: 700;
        padding: 10px 0px;
        display: flex;
        align-items: center;
        &::after {
          content: "50%";
          font-size: 16px;
          color: hsl(26, 100%, 55%);
          background-color: hsl(25, 100%, 94%);
          margin-left: 20px;
          width: 45px;
          height: 22px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          border-radius: 6px;
        }
      }
      &__old {
        color: hsl(220, 14%, 75%);
        font-size: 18px;
        text-decoration: line-through;
        font-weight: 400;
      }
    }

    &__btns {
      display: flex;
      justify-content: space-between;
      &__quantity {
        display: flex;
        flex: 2;
        align-items: center;
        justify-content: space-around;
        margin-right: 5%;
        font-size: 24px;
        background-color: $lightGrayishBlue;
        border-radius: 8px;
        img {
          @extend .btn;
          @extend .hover-opacity;
        }
        p {
          font-size: 20px;
          font-weight: 400;
        }
      }
      &__addcart {
        @extend .btn;
        @extend .hover-opacity;
        display: flex;
        justify-content: center;
        padding: 14px 30px;
        color: hsl(0, 0%, 100%);
        background-color: hsl(26, 100%, 55%);
        flex: 3;
        box-shadow: 0px 26px 30px -10px hsla(26, 100%, 55%, 0.2);
        img {
          margin-right: 20px;
        }
      }
    }
  }
}
@import "product_detail_responsive";
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes disAppear {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}
