@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Roboto:wght@300;400;500;700&display=swap");
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes disAppear {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translate(46%, 20%);
  }
  100% {
    opacity: 1;
    transform: translate(46%, 0%);
  }
}
@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translate(46%, 0%);
  }
  100% {
    opacity: 0;
    transform: translate(46%, 20%);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

.not-overflow {
  overflow-y: hidden;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 150%;
  position: absolute;
  background-color: hsl(0, 0%, 0%);
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.overlay--open {
  display: block;
}

.header {
  margin: 0px 10vw;
  width: 80vw;
  height: 80px;
  border-bottom: 2px solid hsl(223, 64%, 98%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__menu {
  display: flex;
  align-items: center;
}
.header__menu__icon {
  display: none;
}
.header__menu__brand {
  font-size: 26px;
  font-weight: 700;
  cursor: pointer;
}
.header__menu__drawer__icon {
  display: none;
}
.header__menu__drawer__ul {
  list-style-type: none;
  padding-left: 40px;
}
.header__menu__drawer__ul__li {
  display: inline-block;
  font-size: 0;
}
.header__menu__drawer__ul__li__a {
  display: inline-block;
  text-align: center;
  color: hsl(219, 9%, 45%);
  text-decoration: none;
  padding: 30px 20px;
  cursor: pointer;
  border-bottom: 2px solid hsl(223, 64%, 98%);
  transition: all 0.3s ease;
}
.header__menu__drawer__ul__li__a:hover {
  font-weight: 700;
  border-bottom: 2px solid hsl(26, 100%, 55%);
}
.header__menu__drawer__ul__li__a::before {
  display: block;
  content: attr(title);
  font-weight: 700;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.header__cart-avt {
  display: flex;
  align-items: center;
}
.header__cart-avt__cart {
  position: relative;
  cursor: pointer;
}
.header__cart-avt__cart__widget {
  position: absolute;
  width: 340px;
  background-color: hsl(0, 0%, 100%);
  z-index: 5;
  top: 36px;
  right: 0px;
  transform: translateX(40%);
  box-shadow: 0px 16px 36px 2px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  visibility: hidden;
  transition: all 0.5s ease-in;
  animation: slideOut 0.5s forwards;
}
.header__cart-avt__cart__widget__header {
  padding: 20px;
  border-bottom: 2px solid hsl(223, 64%, 98%);
  font-weight: 700;
}
.header__cart-avt__cart__widget__body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 160px;
  margin-bottom: 10px;
}
.header__cart-avt__cart__widget__body__empty {
  display: none;
}
.header__cart-avt__cart__widget__body__inner {
  display: grid;
  grid-template-rows: 50px 50px;
  row-gap: 20px;
  width: 300px;
}
.header__cart-avt__cart__widget__body__inner__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__cart-avt__cart__widget__body__inner__item .item-image {
  width: 50px;
  border-radius: 4px;
}
.header__cart-avt__cart__widget__body__inner__item .cart-item-text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: hsl(219, 9%, 45%);
  height: 90%;
}
.header__cart-avt__cart__widget__body__inner__item .cart-item-text__name {
  font-size: 15px;
}
.header__cart-avt__cart__widget__body__inner__item .cart-item-text__price {
  font-size: 15px;
}
.header__cart-avt__cart__widget__body__inner__item .cart-item-text__price:nth-of-type(2) {
  color: hsl(0, 0%, 0%);
  font-weight: 700;
}
.header__cart-avt__cart__widget__body__inner__item .delete-item {
  width: 14px;
  cursor: pointer;
}
.header__cart-avt__cart__widget__body__inner__btn {
  background-color: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  padding: 12px;
  width: 100%;
  transition: all 0.3s ease;
}
.header__cart-avt__cart__widget__body__inner__btn:hover {
  opacity: 0.5;
}
.header__cart-avt__cart::after {
  content: "3";
  width: 16px;
  height: 10px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(26, 100%, 55%);
  position: absolute;
  top: -2px;
  left: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  border-radius: 80px;
}
.header__cart-avt__cart::before {
  content: "";
  width: 30px;
  height: 100px;
  position: absolute;
}
.header__cart-avt__cart:hover .header__cart-avt__cart__widget {
  visibility: visible;
  animation: slideIn 0.5s forwards;
}
.header__cart-avt__avt {
  width: 40px;
  margin-left: 30px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}
.header__cart-avt__avt:hover {
  border: 2px solid hsl(26, 100%, 55%);
  border-radius: 50%;
}

@media screen and (min-width: 375px) and (max-width: 1440px) {
  .header {
    margin: 0px 5vw;
    width: 90vw;
    height: 60px;
    border-bottom: none;
  }
  .header__menu {
    position: relative;
  }
  .header__menu__icon {
    display: block;
  }
  .header__menu__brand {
    font-size: 26px;
    font-weight: 700;
    position: relative;
    top: -2px;
    left: 20px;
  }
  .header__menu__drawer {
    position: absolute;
    top: -14px;
    left: -100vw;
    bottom: 0;
    width: 300px;
    height: 100vh;
    background-color: hsl(0, 0%, 100%);
    z-index: 2;
    padding: 30px;
    transition: all 0.5s ease-in-out;
  }
  .header__menu__drawer__icon {
    display: block;
  }
  .header__menu__drawer__ul {
    padding-left: 0;
    padding-top: 40px;
    font-weight: 700;
  }
  .header__menu__drawer__ul__li {
    display: block;
    padding: 16px 0;
    border-bottom: none;
  }
  .header__menu__drawer__ul__li__a {
    padding: 0;
    border-bottom: none;
  }
  .header__menu .drawerOpen {
    left: -5vw;
  }
  .header__cart-avt__cart__widget {
    top: 56px;
    right: 105px;
  }
  .header__cart-avt__cart:hover .header__cart-avt__cart__widget {
    visibility: visible;
    animation: slideIn 0.5s forwards;
  }
  .header__cart-avt__avt {
    width: 30px;
    margin-left: 20px;
  }
}
.btn, .product__inf__btn__addcart, .product__inf__btn__quantity__btn, .header__cart-avt__cart__widget__body__inner__btn, .header__cart-avt__avt {
  border-radius: 8px;
  cursor: pointer;
}

.hover-opacity, .product__inf__btn__addcart, .product__inf__btn__quantity__btn, .product__image__small__container__img {
  transition: opacity 0.3s ease;
}

.hover-opacity:hover, .product__inf__btn__addcart:hover, .product__inf__btn__quantity__btn:hover, .product__image__small__container__img:hover {
  opacity: 0.5;
}

.slideIcon, .product__image__large__next, .product__image__large__previous {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  justify-content: center;
  align-items: center;
}

.product {
  margin: 0px 20vw;
  width: 60vw;
  margin-top: 50px;
  margin-bottom: 80px;
  display: grid;
  position: relative;
  grid-template-columns: 27vw 27vw;
  column-gap: 6vw;
}
.product--viewImage {
  display: none;
  position: absolute;
  z-index: 5;
  left: 50%;
  top: -20%;
  transform: translate(-50%, 10%);
  width: 28vw;
  height: 80vh;
  transition: all 0.5s ease;
  animation: appear 0.5s ease-in-out;
}
.product--viewImage .close-icon {
  float: right;
  margin-bottom: 20px;
  cursor: pointer;
}
.product--viewImage .close-icon:hover path {
  fill: hsl(26, 100%, 55%);
}
.product--viewImage .product__image {
  width: 100%;
  row-gap: 4%;
}
.product--viewImage .product__image__large__img {
  width: 100%;
}
.product--viewImage .product__image__large__icon {
  display: flex;
}
.product--viewImage .product__image__large__previous {
  left: -22px;
}
.product--viewImage .product__image__large__next {
  right: -22px;
}
.product--viewImage .product__image__small {
  justify-content: space-evenly;
}
.product--viewImage .product__image__small__container {
  width: 16%;
  height: 94%;
  border-radius: 7px;
}
.product--viewImage .product__image__small__container__img {
  border-radius: 5px;
}
.product--viewImage--disAppear {
  animation: appear 0.3s forwards;
}
.product .image-modal-open {
  display: block;
}
.product__image {
  width: 27vw;
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 4%;
}
.product__image__large {
  position: relative;
}
.product__image__large__icon {
  cursor: pointer;
}
.product__image__large__icon:hover svg path {
  stroke: hsl(26, 100%, 55%);
}
.product__image__large__previous {
  left: 3%;
}
.product__image__large__next {
  right: 3%;
}
.product__image__large__img {
  width: 100%;
  border-radius: 5%;
  cursor: pointer;
}
.product__image__small {
  display: flex;
  justify-content: space-between;
}
.product__image__small__container {
  width: 20%;
  height: 96%;
  border-radius: 18px;
  background-color: hsl(0, 0%, 100%);
  cursor: pointer;
}
.product__image__small__container__img {
  width: 100%;
  border-radius: 14px;
}
.product__image__small__container:first-child {
  border: 4px solid hsl(26, 100%, 55%);
}
.product__image__small__container:first-child .product__image__small__container__img {
  opacity: 0.5;
}
.product__inf {
  width: 27vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product__inf__brand {
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  letter-spacing: 3px;
}
.product__inf__name {
  font-size: 30px;
  color: hsl(0, 0%, 0%);
  padding: 16px 0px;
}
.product__inf__desc {
  color: hsl(219, 9%, 45%);
  padding: 14px 0px;
}
.product__inf__price {
  margin-bottom: 40px;
}
.product__inf__price__new {
  color: hsl(0, 0%, 0%);
  font-size: 28px;
  font-weight: 700;
  padding: 10px 0px;
  display: flex;
  align-items: center;
}
.product__inf__price__new::after {
  content: "50%";
  font-size: 16px;
  color: hsl(26, 100%, 55%);
  background-color: hsl(25, 100%, 94%);
  margin-left: 20px;
  width: 45px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}
.product__inf__price__old {
  color: hsl(220, 14%, 75%);
  font-size: 18px;
  text-decoration: line-through;
  font-weight: 400;
}
.product__inf__btn {
  display: flex;
  justify-content: space-between;
}
.product__inf__btn__quantity {
  display: flex;
  align-items: center;
  flex: 2;
  justify-content: space-around;
  margin-right: 5%;
  font-size: 24px;
  background-color: hsl(223, 64%, 98%);
  border-radius: 8px;
}
.product__inf__btn__quantity__btn {
  display: flex;
  align-items: center;
  padding: 16px 4px;
}
.product__inf__btn__quantity__number {
  font-size: 20px;
  font-weight: 400;
}
.product__inf__btn__addcart {
  display: flex;
  justify-content: center;
  padding: 14px 30px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(26, 100%, 55%);
  flex: 3;
  box-shadow: 0px 26px 30px -10px hsla(26, 100%, 55%, 0.2);
}
.product__inf__btn__addcart__icon {
  margin-right: 20px;
}

@media screen and (min-width: 375px) and (max-width: 1440px) {
  .product {
    margin: 0px 0vw;
    width: 100vw;
    grid-template-columns: 10vw;
    margin-bottom: 80px;
  }
  .product__image {
    width: 100vw;
  }
  .product__image__large {
    height: 40vh;
    overflow: hidden;
  }
  .product__image__large__icon {
    display: flex;
  }
  .product__image__large__img {
    border-radius: 0;
    height: 100%;
    object-fit: cover;
  }
  .product__image__small {
    display: none;
  }
  .product__inf {
    margin: 0px 5vw;
    width: 90vw;
  }
  .product__inf__brand {
    margin-top: 22px;
  }
  .product__inf__name {
    font-size: 32px;
  }
  .product__inf__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  .product__inf__btn {
    flex-direction: column;
  }
  .product__inf__btn__quantity {
    margin-right: 0;
    margin-bottom: 30px;
    padding: 12px 20px;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=style.css.map */
