@import "mixin";
@import "color";
@import "keyframe";
@import "header";
@import "header_responsive";

.btn {
  border-radius: 8px;
  cursor: pointer;
}
.hover-opacity {
  transition: opacity 0.3s ease;
}
.hover-opacity:hover {
  opacity: 0.5;
}
.close-icon {
  margin-bottom: 20px;
  cursor: pointer;
  &:hover {
    path {
      fill: $orange;
    }
  }
}
.main {
  @include size(100%, 80vh);
  @include flexBox(center, center);
}
.product {
  width: 60%;
  @include flexBox(space-between, center);
  position: relative;
  &__viewImage {
    @include flexBox(unset, end);
    flex-direction: column;
    display: none;
    position: absolute;
    z-index: 5;
    left: 50%;
    top: -18%;
    transform: translate(-50%, 10%);
    @include size(40%, unset);
    transition: all 0.5s ease;
    animation: appear 0.5s forwards;
    .product__icon {
      display: flex;
      &--previous {
        left: -22px;
      }
      &--next {
        right: -22px;
      }
    }
    .product__small {
      @include flexBox(space-evenly, unset);
    }
    .product__small-container {
      @include size(18%, auto);
      border-radius: 14px;
    }
    .product__small-img {
      border-radius: 11px;
    }
  }
  .image-modal-open {
    display: flex;
  }
  &__images {
    @include size(46%, 100%);
    flex: 1;
  }
  &__image {
    width: 80%;
  }
  &__large {
    position: relative;
    padding-bottom: 20px;
  }
  &__large-img {
    width: 100%;
    border-radius: 5%;
    cursor: pointer;
  }
  &__small {
    @include flexBox(space-between, unset);
  }
  &__small-container {
    @include size(20%, auto);
    border-radius: 18px;
    background-color: $white;
    cursor: pointer;
    &:first-child {
      border: 4px solid $orange;
      .product__small-img {
        opacity: 0.5;
      }
    }
  }
  &__small-img {
    width: 100%;
    height: 100%;
    border-radius: 14px;
    @extend .hover-opacity;
  }
  &__icon {
    cursor: pointer;
    @include size(40px, 40px);
    border-radius: 50%;
    background-color: $white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @include flexBox(center, center);
    display: none;
    &:hover svg {
      path {
        stroke: $orange;
      }
    }
    &--previous {
      left: 3%;
    }
    &--next {
      right: 3%;
    }
  }

  &__inf-container {
    flex: 1;
    @include flexBox(center, end);
    flex-direction: column;
  }
  &__inf {
    width: 90%;
  }
  &__brand {
    color: hsl(26, 100%, 55%);
    font-weight: 700;
    letter-spacing: 3px;
  }
  &__name {
    font-size: 30px;
    color: hsl(0, 0%, 0%);
    padding: 16px 0px;
  }
  &__desc {
    color: hsl(219, 9%, 45%);
    padding: 14px 0px;
  }
  &__price {
    margin-bottom: 40px;
  }
  &__new-price {
    color: hsl(0, 0%, 0%);
    font-size: 28px;
    font-weight: 700;
    padding: 10px 0px;
    @include flexBox(unset, center);
    &::after {
      content: "50%";
      font-size: 16px;
      color: hsl(26, 100%, 55%);
      background-color: hsl(25, 100%, 94%);
      margin-left: 20px;
      @include size(45px, 22px);
      @include flexBox(center, center);
      border-radius: 6px;
    }
  }
  &__old-price {
    color: hsl(220, 14%, 75%);
    font-size: 18px;
    text-decoration: line-through;
    font-weight: 400;
  }
  &__btn {
    @include flexBox(space-between, unset);
  }
  &__quantity {
    @include flexBox(space-around, center);
    flex: 2;
    margin-right: 5%;
    font-size: 24px;
    background-color: $lightGrayishBlue;
    border-radius: 8px;
  }
  &__quantity-btn {
    @include flexBox(unset, center);
    @extend .btn;
    @extend .hover-opacity;
    padding: 16px 4px;
  }
  &__cur-quantity {
    font-size: 20px;
    font-weight: 400;
  }
  &__addcart {
    @extend .btn;
    @extend .hover-opacity;
    @include flexBox(center, unset);
    padding: 14px 30px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(26, 100%, 55%);
    flex: 3;
    box-shadow: 0px 26px 30px -10px hsla(26, 100%, 55%, 0.2);
  }
  &__cart-icon {
    margin-right: 20px;
  }
}

@import "product_detail_responsive";
