@import "reset";
$darkGrayishBlue: hsl(219, 9%, 45%);
$grayishBlue: hsl(220, 14%, 75%);
$lightGrayishBlue: hsl(223, 64%, 98%);

@mixin marginX($marginX) {
  margin: 0px $marginX;
  width: calc(100vw - 2 * ($marginX));
}
.not-overflow {
  overflow-y: hidden;
}
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 150%;
  position: absolute;
  background-color: $black;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}
.overlay--open {
  display: block;
}
header {
  @include marginX(10vw);
  height: 80px;
  border-bottom: 2px solid $lightGrayishBlue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__menu {
    display: flex;
    align-items: center;
    img {
      display: none;
    }
    h1 {
      font-size: 26px;
      font-weight: 700;
    }
    .header__menu__drawer {
      ul {
        list-style-type: none;
        padding-left: 40px;
        li {
          display: inline-block;
          padding: 30px 20px;
          cursor: pointer;
          border-bottom: 2px solid $lightGrayishBlue;
          transition: all 0.3s ease;
          &:hover {
            font-weight: 700;
            border-bottom: 2px solid $orange;
          }
        }
      }
    }
  }

  .header__cart-avt {
    display: flex;
    align-items: center;
    &__cart {
      position: relative;
      > img {
        @extend .btn;
      }
      &__widget {
        position: absolute;
        width: 352px;
        background-color: $white;
        z-index: 5;
        top: 36px;
        right: 0px;
        transform: translateX(40%);
        box-shadow: 0px 16px 36px 2px rgba(0, 0, 0, 0.1);
        border-radius: 16px;
        visibility: hidden;
        transition: all 0.5s ease-in;
        animation: slideOut 0.5s forwards;
        > div {
          padding: 22px;
          button {
            @extend .btn;
            background-color: $orange;
            color: $white;
            padding: 12px;
            width: 100%;
            transition: all 0.3s ease;
            &:hover {
              opacity: 0.5;
            }
          }
        }
        &__header {
          border-bottom: 2px solid $lightGrayishBlue;
          font-weight: 700;
        }
        &__body {
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 160px;
          margin-bottom: 10px;
          > p {
            display: none;
          }
          > div {
            display: grid;
            grid-template-rows: 50px 50px;
            row-gap: 24px;
            width: 300px;
            > div {
              display: flex;
              justify-content: space-between;
              align-items: center;
              .item-image {
                width: 50px;
                border-radius: 4px;
              }
              > div {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 90%;
                color: $darkGrayishBlue;
                p {
                  font-size: 15px;
                }
                span {
                  font-size: 15px;
                  &:nth-of-type(2) {
                    color: $black;
                    font-weight: 700;
                  }
                }
              }
              .delete-item {
                width: 14px;
                cursor: pointer;
              }
            }
          }
        }
      }
      &::after {
        content: "3";
        width: 16px;
        height: 10px;
        color: hsl(0, 0%, 100%);
        background-color: hsl(26, 100%, 55%);
        position: absolute;
        top: -2px;
        left: 11px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 9px;
        border-radius: 80px;
      }
      &::before {
        content: "";
        width: 30px;
        height: 100px;
        position: absolute;
      }
      &:hover .header__cart-avt__cart__widget {
        visibility: visible;
        animation: slideIn 0.5s forwards;
      }
    }
    &__avt {
      @extend .btn;
      width: 40px;
      margin-left: 30px;
      border: 2px solid transparent;
      transition: all 0.3s ease;
      &:hover {
        border: 2px solid $orange;
        border-radius: 50%;
      }
    }
  }
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translate(46%, 20%);
  }
  100% {
    opacity: 1;
    transform: translate(46%, 0%);
  }
}
@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translate(46%, 0%);
  }
  100% {
    opacity: 0;
    transform: translate(46%, 20%);
  }
}
